<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Eo_circle_light-green_checkmark.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Express App - Usuarios
    <a href="/user-create" class="btn btn-success">Crear usuario</a>
    </a>
  </div>
</nav>